
<div class="loginModal">
	<h4 class="introHeading">
		<b>Login</b>
	</h4>
	<h2 class="introSubtext">When logging in with your Social Network Account, we only
		store your name and your profile picture.</h2>

	<md-button class="md-raised md-primary" ng-click="facebookLogin()">
	<md-tooltip md-direction="bottom">Login with Facebook</md-tooltip>
	Facebook </md-button>

	<md-button class="md-raised md-warn" ng-click="googleLogin()">
	<md-tooltip md-direction="bottom">Login with Google</md-tooltip> Google
	</md-button>
</div>